<nav class="navbar navbar-dark bg-dark">
  <div>
    <a class="navbar-brand" routerLink = "/home">Home</a>&nbsp;
    <a class="navbar-brand" routerLink = "/registerform">Register</a>&nbsp;
    <a class="navbar-brand" routerLink = "/login-form">Login</a>&nbsp;
    <a class="navbar-brand" routerLink = "/add-question">Add Questions</a>&nbsp;
    <a class="navbar-brand" routerLink = "/quiz">Quiz</a>
</div>
</nav>
<h3 style="text-align:center">
  Welcome to Quiz Application &#x263A;
</h3>
<router-outlet></router-outlet>
